.company {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 34%;
    max-width: 84%;
  }

  &--light-gray {
    background-color: $color-light-gray;
  }

  @media (max-width: 991px) {
    
  }
}