.moon-item {
  padding: 4px;
  width: 135px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 50%;

  &__img {
    max-width: 120px;
    max-height: 68px;

    &--small {
      max-width: 106px;
      max-height: 60px;
    }
  }

  @media (max-width: 1240px) {
    width: 86px;
    height: 86px;

    &__img {
      max-width: 75px;
      max-height: 41px;

      &--small {
        max-width: 66px;
        max-height: 36px;
      }
    }
  }

  @media (max-width: 680px) {
    width: 83px;
    height: 83px;

    &__img {
      max-width: 72px;
      max-height: 39px;

      &--small {
        max-width: 63px;
        max-height: 34px;
      }
    }
  }
}